*{
  font-family: Helvetica;
}
nav {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
nav ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  margin-left: 44.25px;
}
a{
  text-decoration: none;
  color: #2c2c2c;
}
.logo {
  margin-left: 18px;
  font-weight: 600;
}
.nav-btn {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  margin-right: 18px;
  padding: 5px 10px;
  text-align: center;
  color: #2c2c2c;
  border: 1px solid #000000;
  border-radius: 20px;
  letter-spacing: -0.007em;
  background-color: transparent;
}
h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 58px;
  
  margin: 252px 18px;

  display: flex;
  align-items: center;
  letter-spacing: -0.005em;

  color: #000000;
}
.img1{
  height: 90%;
  width: 99.90%;
}
.psub{
  color: #2C2C2C;
}
.psub1{
  color: #787878;
}