* {
  font-family: Helvetica;
}
nav {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
nav ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
}
ul {
  margin-left: -60px;
}
nav ul li {
  margin-left: 44.25px;
}
a {
  text-decoration: none;
  color: #2c2c2c;
}
.logo {
  margin-left: 18px;
  font-weight: 600;
}
.nav-btn {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  margin-right: 18px;
  padding: 5px 10px;
  text-align: center;
  color: #2c2c2c;
  border: 1px solid #000000;
  border-radius: 20px;
  letter-spacing: -0.007em;
  background-color: transparent;
}
h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 58px;

  margin: 252px 18px;

  display: flex;
  align-items: center;
  letter-spacing: -0.005em;

  color: #000000;
}
.vid1 {
  height: 90%;
  width: 99.9%;
}
.vid2 {
  width: 468px;
  height: 263px;
  margin-right: 16px;
}
.vid3 {
  width: 850px;
  height: 522.57px;
  margin-top: -21.7px;
}
.vid4{
  width: 655px;
  height: 394px;
  margin-right: 25px;
}
.vid5{
  margin-top: 1px;
  width: 655px;
  height: 394px;
}
.third-portion{
  display: flex;
  margin-top: 80px;
}

.fourth-portion{
  display: flex;
  /* margin-top: 80px; */
}

.psub {
  color: #2c2c2c;
  line-height: 0px;
}
.psub1 {
  color: #787878;
  line-height: 10px;
}
.psub2 {
  color: #2c2c2c;
  line-height: 0px;
}
.psub3 {
  color: #787878;
  line-height: 10px;
}
.psub4{
  margin-top: -8px;
  color: #2c2c2c;
  line-height: 0px;
}
.psub5{
  margin-top: -1px;
  color: #787878;
  line-height: 10px;
}
.new-btn {
  font-size: 10px;
  line-height: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: transparent;
  margin-top: 8px;
}


h2{
  margin-top: 25px;
  padding-left: 18px;
  font-family: Helvetica;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #2C2C2C;
}
.h2p{
  padding-left: 18px;
  width: 457px;
height: 105px;
  font-family: Helvetica;
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
margin-bottom: 100px;


display: flex;
align-items: center;

color: #787878;
}

/* responsiveness */
@media only screen and (max-width: 768px) {
  li {
    font-size: 52%;
  }
}
