* {
  font-family: Helvetica;
}
nav {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
nav ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
}
ul {
  margin-left: -60px;
}
nav ul li {
  margin-left: 44.25px;
}
a {
  text-decoration: none;
  color: #2c2c2c;
}
.logo {
  margin-left: 18px;
  font-weight: 600;
}
.nav-btn {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  margin-right: 18px;
  padding: 5px 10px;
  text-align: center;
  color: #2c2c2c;
  border: 1px solid #000000;
  border-radius: 20px;
  letter-spacing: -0.007em;
  background-color: transparent;
}
h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 58px;

  margin: 252px 18px;

  display: flex;
  align-items: center;
  letter-spacing: -0.005em;

  color: #000000;
}
.vid1 {
  height: 90%;
  width: 99.9%;
}
.vid2 {
  width: 468px;
  height: 263px;
  margin-right: 16px;
}
.vid3 {
  width: 850px;
  height: 522.57px;
  margin-top: -21.7px;
}
.vid4 {
  width: 655px;
  height: 394px;
  margin-right: 25px;
}
.vid5 {
  margin-top: 1px;
  width: 655px;
  height: 394px;
}
.third-portion {
  display: flex;
  margin-top: 80px;
}

.fourth-portion {
  display: flex;
  /* margin-top: 80px; */
}

.psub {
  color: #2c2c2c;
  line-height: 0px;
}
.psub1 {
  color: #787878;
  line-height: 10px;
}
.psub2 {
  color: #2c2c2c;
  line-height: 0px;
}
.psub3 {
  color: #787878;
  line-height: 10px;
}
.psub4 {
  margin-top: -8px;
  color: #2c2c2c;
  line-height: 0px;
}
.psub5 {
  margin-top: -1px;
  color: #787878;
  line-height: 10px;
}
.new-btn {
  font-size: 10px;
  line-height: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: transparent;
  margin-top: 8px;
}

h2 {
  margin-top: 25px;
  
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #2c2c2c;
}

.our-studio h2{
  margin-top: 25px;
  padding-left: 18px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #2c2c2c;
}
.h2p {
  padding-left: 18px;
  width: 457px;
  height: 105px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 100px;

  display: flex;
  align-items: center;

  color: #787878;
}

.news-p1{
  width: 219px;
height: 42px;


font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;


display: flex;
align-items: center;

color: #000000;
}
.news-p2{
 
  width: 300px;
height: 84px;


font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;


display: flex;
align-items: center;

color: #6F6F6F;
}
.date05{
 
width: 83px;
height: 21px;


font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;


display: flex;
align-items: center;

color: #000000;
}
.news-p3{
  width: 200px;
height: 42px;
  
  
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
  display: flex;
  align-items: center;
  
  color: #000000;
}
.news-p4{
 
  
  width: 300px;
  height: 210px;
  
  
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
  
  display: flex;
  align-items: center;
  
  color: #6F6F6F;
}
.date02{
 
  
  width: 83px;
  height: 21px;
  
  
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
  display: flex;
  align-items: center;
  
  color: #000000;
}
.news-portion{
  display: flex;
}
.number1{
  width: 290px;
  margin-right: 50px;
}
.number2{
  width: 290px;
  margin-right: 50px;
}
.number3{
  width: 290px;
  margin-right: 50px;
}
.number4{
  width: 290px;
}
.news-portion img{
  width: 110%;
}

.last-sec hr{
  margin-top: 20px;
  color: white;
  width: 97%;
}

.last-sec{
  
position: absolute;
width: 1340px;
height: 700px;


background: #000000;
}

.last-portion{
  display: flex;
}
.lastp h2{
  margin-left: 18px;
  position: absolute;
  
  height: 21px;

  
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}
.lastp p{
  width: 342px;
  height: 264px;
  margin-left: 18px;
  margin-top: 70px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #6F6F6F;
}
.lastp button{
 
width: 45px;
height: 20px;



font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;


letter-spacing: -0.007em;

color: #FFFFFF;
box-sizing: border-box;


width: 66px;
height: 24px;
margin-left: 18px;
margin-top: 5px;

border: 1px solid #FFFFFF;
border-radius: 20px;
background-color: transparent;
}

.lastp1 h2{
 
width: 62px;
height: 21px;


font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;


display: flex;
align-items: center;

color: #FFFFFF;
}
.lp1{
  position: absolute;
  width: 187px;
  height: 44px;
  margin-top: -5px;
  
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  
  
  display: flex;
  align-items: center;
  
  color: #6F6F6F;
}
.lp2{
  margin-top: 65px;
width: 160px;
height: 88px;


font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

display: flex;
align-items: center;

color: #6F6F6F;
}
.lastp1{
  margin-left: 182px;
}

.lastp2 h2{
  
width: 48px;
height: 21px;


font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;


display: flex;
align-items: center;

color: #FFFFFF;
}
.lp3{
  
width: 79px;
height: 110px;


font-family: Helvetica;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;


display: flex;
align-items: center;

color: #6F6F6F;

}
.lastp2{
  margin-left: 157px;
}
.ib23{

  margin-left: 192px;
  margin-top: 22px;
 
  width: 296px;
  height: 21px;
  
  
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
  
  display: flex;
  align-items: center;
  
  color: #6F6F6F;
}
.ib-big{
 
  
width: 1200px;
height: 100px;
margin-top: -120px;
margin-left: 200px;


font-family: Helvetica;
font-style: normal;
font-weight: 500;
font-size: 200px;
line-height: 100px;

color: #FFFFFF;
}

/* responsiveness */
@media only screen and (max-width: 768px) {
  li {
    font-size: 52%;
  }
}
